In [2]:
from pyspark.sql import SparkSession
from pyspark.sql.functions import col, expr, mean, corr

In [3]:
spark= SparkSession.builder.appName("Media").getOrCreate()

In [4]:
spark

In [11]:
CSV=spark.read.csv("/content/excel2.0.csv", header=True,sep=";",inferSchema=True,nullValue="NULL",encoding="UTF-8")

In [12]:
CSV .show()

+---------+---+---+---+---+
|  Alumnos| T1| T2| T3| T4|
+---------+---+---+---+---+
|     Jose| 15| 12| 14| 16|
|     Juan| 13| 15| 16| 16|
|     Jhoe| 11| 17| 18| 29|
|      Jim| 12| 12| 13| 15|
|   Anibal| 10| 16| 17| 18|
|     Luis| 16| 19| 17| 19|
|    Angel| 17| 20| 11|  5|
|Valentino| 19|  0| 20| 13|
|   Moises| 20| 18| 16| 16|
|   Didier| 20| 17| 16| 17|
|   Lionel|  8|  9| 20| 20|
|Cristiano|  9| 15| 17| 12|
|  Raphael| 12| 14| 15| 13|
|    yamal| 14| 12| 14| 14|
+---------+---+---+---+---+

In [ ]:
#Del siguiente documento de datos quiero realizar el promedio de cada alumno, teniendo en cuenta el valor de cada evaluaciÃ³n, en este caso el valor de la t1 es del 10
#el valor de la T2 es el 20%, el valor de la T3 es el 30% y el valor de la t4 es el 40%, dado estos valores se realizara el promedio de cada alumno y se colocara si el alumno
#esta aprobado a desaprobado(aprobado>=12).

In [13]:
t1_peso=0.1
t2_peso=0.2
t3_peso=0.3
t4_peso=0.4

In [16]:
csv_df=CSV.withColumn("Promedio",(col("T1")*t1_peso)+(col("T2")*t2_peso)+(col("T3")*t3_peso)+(col("T4")*t4_peso)).withColumn("Estado",expr("CASE WHEN Promedio>=12 THEN 'Aprobado' ELSE 'Desaprobado' END"))
csv_df.select("Alumnos","Promedio","Estado").show()

+---------+------------------+-----------+
|  Alumnos|          Promedio|     Estado|
+---------+------------------+-----------+
|     Jose|14.500000000000002|   Aprobado|
|     Juan|              15.5|   Aprobado|
|     Jhoe|              21.5|   Aprobado|
|      Jim|              13.5|   Aprobado|
|   Anibal|              16.5|   Aprobado|
|     Luis|              18.1|   Aprobado|
|    Angel|              11.0|Desaprobado|
|Valentino|13.100000000000001|   Aprobado|
|   Moises|16.799999999999997|   Aprobado|
|   Didier|              17.0|   Aprobado|
|   Lionel|              16.6|   Aprobado|
|Cristiano|              13.8|   Aprobado|
|  Raphael|              13.7|   Aprobado|
|    yamal|13.600000000000001|   Aprobado|
+---------+------------------+-----------+