In [1]:
from pyspark.sql import SparkSession
from pyspark.sql.functions import col, expr, mean, corr

In [2]:
spark= SparkSession.builder.appName("Mediana").getOrCreate()

In [3]:
spark

In [4]:
CSV=spark.read.csv("/content/excel2.0.csv", header=True,sep=";",inferSchema=True,nullValue="NULL",encoding="UTF-8")

In [5]:
 CSV.show()

+---------+---+---+---+---+
|  Alumnos| T1| T2| T3| T4|
+---------+---+---+---+---+
|     Jose| 15| 12| 14| 16|
|     Juan| 13| 15| 16| 16|
|     Jhoe| 11| 17| 18| 29|
|      Jim| 12| 12| 13| 15|
|   Anibal| 10| 16| 17| 18|
|     Luis| 16| 19| 17| 19|
|    Angel| 17| 20| 11|  5|
|Valentino| 19|  0| 20| 13|
|   Moises| 20| 18| 16| 16|
|   Didier| 20| 17| 16| 17|
|   Lionel|  8|  9| 20| 20|
|Cristiano|  9| 15| 17| 12|
|  Raphael| 12| 14| 15| 13|
|    yamal| 14| 12| 14| 14|
+---------+---+---+---+---+

In [ ]:
#En este caso deseo saber cual es la mediana de cada evaluaci√≥n

In [6]:
mediana_t1=CSV.select(expr("percentile_approx(T1,0.5)").alias("Mediana_T1"))
mediana_t2=CSV.select(expr("percentile_approx(T2,0.5)").alias("Mediana_T2"))
mediana_t3=CSV.select(expr("percentile_approx(T3,0.5)").alias("Mediana_T3"))
mediana_t4=CSV.select(expr("percentile_approx(T4,0.5)").alias("Mediana_T4"))

mediana_t1.show()
mediana_t2.show()
mediana_t3.show()
mediana_t4.show()

+----------+
|Mediana_T1|
+----------+
|        13|
+----------+

+----------+
|Mediana_T2|
+----------+
|        15|
+----------+

+----------+
|Mediana_T3|
+----------+
|        16|
+----------+

+----------+
|Mediana_T4|
+----------+
|        16|
+----------+