In [16]:
from pyspark.sql import SparkSession
from pyspark.sql.functions import col, expr, mean, corr
from pyspark.sql import functions as F

In [6]:
spark= SparkSession.builder.appName("Moda").getOrCreate()

In [8]:
spark

In [9]:
CSV=spark.read.csv("/content/excel2.0.csv", header=True,sep=";",inferSchema=True,nullValue="NULL",encoding="UTF-8")

In [10]:
CSV.show()

+---------+---+---+---+---+
|  Alumnos| T1| T2| T3| T4|
+---------+---+---+---+---+
|     Jose| 15| 12| 14| 16|
|     Juan| 13| 15| 16| 16|
|     Jhoe| 11| 17| 18| 29|
|      Jim| 12| 12| 13| 15|
|   Anibal| 10| 16| 17| 18|
|     Luis| 16| 19| 17| 19|
|    Angel| 17| 20| 11|  5|
|Valentino| 19|  0| 20| 13|
|   Moises| 20| 18| 16| 16|
|   Didier| 20| 17| 16| 17|
|   Lionel|  8|  9| 20| 20|
|Cristiano|  9| 15| 17| 12|
|  Raphael| 12| 14| 15| 13|
|    yamal| 14| 12| 14| 14|
+---------+---+---+---+---+

In [ ]:
#en este caso queremos calcular la moda para obtener una compresion de los valores mas comunes en cada evaluacio. Esto es util por ejemplo para identificar
#si ciertos puntuajes se repiten mas frecuentemente, lo cual podria indicar un nivel de rendimiento comun entre los estudiantes

In [17]:
Moda_t1= CSV.groupBy("T1").count().orderBy(F.desc("count")).first()[0]
Moda_t2= CSV.groupBy("T2").count().orderBy(F.desc("count")).first()[0]
Moda_t3= CSV.groupBy("T3").count().orderBy(F.desc("count")).first()[0]
Moda_t4= CSV.groupBy("T4").count().orderBy(F.desc("count")).first()[0]

print(f"moda de T1 :{Moda_t1}")
print(f"moda de T1 :{Moda_t2}")
print(f"moda de T1 :{Moda_t3}")
print(f"moda de T1 :{Moda_t4}")

moda de T1 :12
moda de T1 :12
moda de T1 :16
moda de T1 :16